<form action="/offers" method="post">
  Title
  <input type="text" name="title" />
  <br>
  Description
  <input type="textarea" name="description" />
  <br>
  Price
  <input type="text" name="price" />
  <br>
  Currency
  <input type="text" name="currency" />
  <br>
  Duration (hh:mm:ss)
  <input type="text" name="duration" />
  <br>
  <input type="submit" value="Submit" />
</form>
